apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: authentik
  namespace: authentik
resources:
  - helm/values
helmCharts:
  - name: authentik
    version: "2024.10.2"  # Specify the version of the Authentik chart
    repository: "https://charts.goauthentik.io"  # Repository for the Authentik chart
    releaseName: "authentik"  # Release name for your Helm deployment
    namespace: authentik  # Authentik namespace
    valuesFile: "helm/values.yaml"  # Reference to your `values.yaml` file
